@charset 'utf-8';

@import "variables", "mixin", "helper";

$red: "red";

.test {
  background-color: #000;
  width: 500px;
  height: 500px;
  display: block;
  color: #{$red};

  &--test {
    background-color: #{$red};
  }

  &--test2 {
    color: #{$red};
  }
}

.status-bar {
  background-color: #{$red};

  &__column {
    background-color: #fff;

    span {
      background-color: #{$red};
    }

    strong {
      background-color: #{$red};
    }
  }
}
